*.ce
*.he
*.la
*.lo
*.log
*.o
*.so
*.trs
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in
stamp-h1

/netresolve
/netconnect
/test-async
/test-bind-connect
/test-getaddrinfo
/test-gethostbyname
/test-libevent
/test-sync

/netresolve-*.*.*

/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
