*.ce
*.he
*.la
*.lo
*.o
*.so
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in
stamp-h1

/netresolve
/test-async
/test-bind-connect
/test-getaddrinfo

/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
