*.ce
*.he
*.la
*.lo
*.log
*.o
*.so
*.trs
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in
stamp-h1

/getaddrinfo
/gethostbyaddr
/gethostbyname
/getnameinfo
/netconnect
/netresolve
/res_query
/test-asyncns
/test-asyncns-cancel
/test-bind-connect
/test-epoll
/test-getaddrinfo
/test-gethostbyname
/test-gethostbyname2
/test-gethostbyname2_r
/test-gethostbyname_r
/test-glib
/test-libevent
/test-select
/test-sync
/tools/wrapresolve

/netresolve-*.*.*

/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
